// Common styles of the project

html, body {
  height: 100%;
}

.container{

}


.page {
}


.page__wrapper {
  min-height: 100%;
  //padding-bottom: 85px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    //height: 50px;
}
body {
  color: #7e7e7e;
  font-family: 'Clear Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  background-image: url('%=static=%general/bg-top.jpg');
}

.content{
  position: relative;
  background-image: url('%=static=%general/content_bg.png');
  background-color: #fff;
  padding-bottom: 80px;
  margin-top: 90px;
  &:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 28px;
    background-image: url('%=static=%general/content-after.png');
  }
  &__wrapper{
    width: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 25px 38px rgba(35, 35, 35, 0.15);
    margin-top: -66px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 44px 50px;
    padding-bottom: 35px;
    &-well{
      margin-left: -50px;
      margin-right: -50px;
      &_topMargin{
        margin-top: -21px;
      }
    }
    &-siteBar{
      font-size: 0;
      >*{
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
      }
      &-nav{
        width: 28%;
        padding-right: 27px;
        &-content{
          padding-left: 30px;
        }
      }
      &-content{
        width: 72%;
        padding-top: 12px;
        padding-right: 50px;
      }
    }
  }
}

.callback{
  padding-top: 32px;
  hr{
    margin: 23px 0;
  }
  &__title{
    color: #b73767;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
  &__titleSub{
    line-height: normal;
    color: #8a6b76;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }
}

.contact{
  &__list{
    font-size: 0;
    &-section{
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      width: 33.33%;
    }
  }
  &__item{
    &-icon{
      line-height: 94px;
    }
    &-title{
      color: #8a6b76;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 5px;
    }
    &-content{

    }
  }
}

.block-maps{
  height: 530px;
}

.catalog-list{
  font-size: 0;
  margin: -13.5px;
  &__section{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 13.5px;
  }
  &__item{
    display: block;
    background-color: white;
    border: 2px solid #cdcdcd;
    border-radius: 4px;
    text-align: center;
    padding: 24px 15px;
    padding-bottom: 0;
    height: 240px;
    &-icon{
      line-height: 140px;
      img{
        max-height: 140px;
      }
    }
    &-title{
      color: #8a6b76;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      display: table;
      width: 100%;
      height: 72px;
      >span{
        display: table-cell;
        vertical-align: middle;
      }
    }
    &:hover{
      background-color: #ffe4ee;
      border-color: #d6437a;
      border-radius: 4px;
      box-shadow: 0 10px 15px rgba(103, 23, 121, 0.15);
      .catalog-list__item-title{
        color: #d6437a;
      }
    }
    &-download{
      background-color: white;
      border: 1px dashed #af88b8;
      border-radius: 4px;
      text-align: center;
      padding-bottom: 27px;
      padding-top: 22px;
      height: 240px;
      &-icon{
        svg{
          fill: #d6437a;
        }
      }
      &-title{
        color: #7e7e7e;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        padding: 16px 0;
        padding-bottom: 26px;
      }
      &-btn{
        color: #d6437a;
        font-size: 14px;
        font-weight: 700;
        line-height: 50px;
        background-color: white;
        border: 2px solid #d6437a;
        border-radius: 4px;
        text-transform: uppercase;
        width: 171px;
        max-width: 85%;
        display: inline-block;
        &:hover{
          background-color: #d6437a;
          color: #fff;
        }
      }
    }
  }
}

.catalog-category{
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #7e7e7e;
  display: block;
  ul{
    @include nl;
    li{
      a{
        color: inherit;
        padding-left: 24px;
        display: block;
        >span{
          border-bottom: 1px solid transparent;
        }
        &:hover{
          >span{
            border-bottom-color: rgba(126, 126, 126, 0.6);
          }
        }
      }
    }
  }
  >ul{
    >li{
      padding: 0 30px;
      border: 2px solid transparent;
      border-right: none;
      border-left: none;
      &.active{
        border-color: #f8f8f8;
        >a{
          color: #b83a69;
          &:before{
            transform: rotate(90deg);
          }
          &:hover{
            >span{
              border-bottom-color: transparent;
            }
          }
        }
      }
      &.open{
        >ul{
          display: block;
        }
      }
      >a{
        font-weight: 700;
        color: #7e7e7e;
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        display: block;
        &:before{
          content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiB3aWR0aD0iNiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgNiA5Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2I3Mzc2NztmaWxsLXJ1bGU6ZXZlbm9kZH08L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNNi4wMTIgNC41TDQuNjc0IDUuNzg5IDEuMzMgOS4wMTEtLjAwOCA3LjcyMiAzLjMzNiA0LjUtLjAwOCAxLjI3OCAxLjMzLS4wMTFsMy4zNDQgMy4yMjJMNi4wMTIgNC41eiIgY2xhc3M9ImNscy0xIi8+PC9zdmc+');
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -10.5px;
          @include tr;
        }
      }
      >ul{
        font-size: 14px;
        margin-bottom: 15px;
        display: none;
      }
    }
  }
}


.link-download{
  background-color: white;
  border: 1px dashed #af88b8;
  border-radius: 4px;
  display: block;
  padding: 13px 15px;
  padding-top: 10px;
  &__table{
    display: table;
    >*{
      display: table-cell;
      vertical-align: middle;
      +*{
        padding-left: 19px;
      }
    }
  }
  &__icon{
    svg{
      fill: #d6437a;
    }
  }
  &__title{
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    >span{
    }
  }
}

.price{
  color: #d6437a;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
.btn-border{
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  background-color: white;
  border: 2px solid #d6437a;
  border-radius: 4px;
  color: #d6437a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 27px;
  &:hover{
    background-color: #d6437a;
    color: #fff;
  }
}












