// Common styles of the project

html, body {
  height: 100%;
}

.container{

}


.page {
}


.page__wrapper {
  min-height: 100%;
  padding-bottom: 85px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    //height: 50px;
}
body {
  //height: 400vh;
  //padding-top: 90px;
}


