/* Your custom fonts here */
@import "libraries/bourbon/bourbon";

// Example
//https://edgewebfonts.adobe.com/help#using-fonts-in-css
// 100 -> Thin, Hairline
// 200 -> Extra Light
// 300 -> Light
// 400 -> Normal, Book
// 500 -> Medium
// 600 -> Semibold, Demibold
// 700 -> Bold
// 800 -> Heavy, Extra Bold
// 900 -> Black

@include font-face("Clear Sans", "../fonts/clearsans/clearsans", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 400;
};
@include font-face("Clear Sans", "../fonts/clearsans/clearsansitalic", $file-formats: woff woff2 ttf){
  font-style: italic;
  font-weight: 400;
};
@include font-face("Clear Sans", "../fonts/clearsans/clearsansbold", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 700;
};
@include font-face("Clear Sans", "../fonts/clearsans/clearsansbolditalic", $file-formats: woff woff2 ttf){
  font-style: italic;
  font-weight: 700;
};
@include font-face("Clear Sans", "../fonts/clearsans/clearsanslight", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 300;
};
@include font-face("Clear Sans", "../fonts/clearsans/clearsansmedium", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 500;
};
@include font-face("Clear Sans", "../fonts/clearsans/clearsansmediumitalic", $file-formats: woff woff2 ttf){
  font-style: italic;
  font-weight: 500;
};
@include font-face("Clear Sans", "../fonts/clearsans/clearsansthin", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 100;
};