// GUI stylies of the project
// For example, styles of the links, buttons and so on.

@import "libraries/bootstrap/scaffolding";
@import "libraries/bootstrap/buttons";
@import "libraries/bootstrap/type";
@import "libraries/bootstrap/breadcrumbs";
@import "libraries/bootstrap/tables";
@import "libraries/bootstrap/forms";
@import "libraries/bootstrap/navs";
@import "libraries/bootstrap/dropdowns";

a{
  //color: #e74700;
  //text-decoration: underline;
  color: #ef9c00;
  cursor: pointer;
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:not(.not-styleLink){
    @include link-border-color(#ef9c00);
  }
  .not-styleLink{
    text-decoration: underline;
  }
}

.not-styleLink{
  a{
    border-bottom: none;
  }
}

.rub{
  letter-spacing: -12px;
  display: inline-block;
  //vertical-align: middle;
  margin-right: 12px;
  &:after{
    content: '–';
    display: inline-block;
    position: relative;
    bottom: -2px;
  }
}

h1, .h1{
  margin-bottom: 30px;
  font-size: 50px;
  line-height: normal;
  color: #4f4f4f;
  font-family: GothamPro, sans-serif;
  font-weight: 700;
  &:first-child{
    margin-top: 0;
  }
}
h2, .h2{
  color: #0b6ab3;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
  margin-top: 25px;
  &:first-child{
    margin-top: 0;
  }
}
h3, .h3{
  color: #70747b;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 25px;
  margin-top: 25px;
  &:first-child{
    margin-top: 0;
  }
}

p {
  margin-bottom: 20px;
}

hr{
  border-color: #f0f1f2;
  margin: 55px 0;
  &.two{
    margin: 25px 0;
  }
}

ol, ul{
  list-style: none;
  padding: 0;
  li{
    position: relative;
    padding-left: 32px;
    &:after{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: #ef9c00;
      position: absolute;
      left: 0;
      top: 7px;
      line-height: 20px;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
    }
  }
}
ol{
  li {
    counter-increment: li;
    padding-left: 37px;
    &:after {
      content: counter(li);
      width: 16px;
      height: 16px;
      top: 3px;
    }
  }
}

//ul{
//  //@include nl;
//  list-style-image: url("%=static=%general/list-style-image.png");
//  padding: 0;
//  list-style-position: outside;
//  padding-left: 81px;
//  margin: 15px 0;
//  li{
//    padding: 5px 0;
//  }
//}

b{
  font-weight: 700;
  color: #292a3c;
}

.tableWrap{
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  table{
    margin-bottom: 0;
  }
}


table{
  font-size: 14px;
  &:not(.not_style_default){
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
  }

  tbody > tr{
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    &:hover, &.active{
      td{
        background-color: #f0f1f2;
        //color: #070707;
      }
    }
  }

  &.table-two{
    thead > tr > th{
      background-color: transparent;
      color: #4b4b4b;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      border-bottom: 1px solid #f0f1f2;
      padding: 3px 27px;
    }
    tbody > tr{
      td{
        color: #7f7f7f;
        border-bottom: none;
      }
      &:hover, &.hover{
        td{
          background-color: transparent;
          //color: #070707;
        }
      }
    }
  }
}

.db{
  display: block;
}


.table-link-title{
  margin-bottom: 10px;
}
.dropdown-menu{
  li{
    padding: 0;
  }
}

.pagination{
  @include nl;
  font-size: 0;
  margin: 20px -5px;
  margin-bottom: -5px;

  li{
    display: inline-block;
    font-weight: 400;
    padding: 5px;
    &:not(.active){
      >*{
        &:hover{
          //outline: 2px solid #fd6910;
          //outline-offset: -2px;
          //color: #fd6910;
          border-color: #0b6ab3;
        }
      }
    }
    &.active{
      >*{
        background-color: #fc0;
        color: black;
        span{
          border-bottom-color: transparent;
        }
      }
    }
    &.next{
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      >*{
        //border: 1px solid #bebebe;
        padding: 0 15px;
      }
      i{
        margin-left: 40px;
        margin-top: -2px;
      }
    }
    >*{
      width: 35px;
      height: 35px;
      display: block;
      text-align: center;
      line-height: 38px;
      font-weight: 400;
      text-decoration: none;
      color: #575757;
      border: none;
      font-size: 18px;
      span{
        @include link-border-color(#575757);
      }
      small{
        font-size: 12px;
      }
    }
  }
}

.bootstrap-select.btn-group{
  position: relative;
  .dropdown-toggle{
    background-color: white;
    border: 1px solid #d3d7da;
    border-radius: 4px;
    padding: 0 19px;
    line-height: 47px;
    height: 43px;
    padding-right: 35px;
    .filter-option{
      color: #5e5c67;
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 14px;
      font-style: normal;
    }
  }
  .bs-caret{
    background-color: #fff;
    line-height: 21px;
    right: 11px;
    .caret{
      border-top-color: #ef9c00;
      border-top-width: 5px;
      border-left-width: 5px;
      border-right-width: 5px;
      margin-left: -1px;
    }
  }
  &.min{
    .dropdown-toggle{
      line-height: 43px;
      height: 38px;
      padding: 0 15px;
      .filter-option{
        font-size: 12px;
      }
    }
    .bs-caret{
      right: 4px;
      .caret{
        border-top-width: 4px;
        border-left-width: 4px;
        border-right-width: 4px;
      }
    }
  }
  &.gradient{
    .dropdown-toggle{
      background-image: linear-gradient(to top, rgba(215, 215, 215, 0.25) 0%, rgba(255, 255, 255, 0.25) 67%, rgba(255, 255, 255, 0.25) 100%);
      border-color: rgba(183, 183, 183, 0.7);
    }
    .bs-caret {
      .caret {
        border-top-color: #0b6ab3;
      }
    }
  }
}

.slick-dots{
  @include nl;
  font-size: 0;
  line-height: 0;
  text-align: center;
  //margin: 10px 0;
  li{
    display: inline-block;
    padding: 2px;
    &.slick-active{
      button{
        &:after{
          //background-color: #ffcb08;
          border-color: #fff;
        }
        &:before{
          opacity: 1;
        }
      }
    }
    button{
      @include btn-clear;
      position: relative;
      &:hover{
        &:after{
          //background-color: rgb(202, 202, 202);
        }
      }
      &:after{
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
      }
      &:before{
        content: '';
        width: 8px;
        height: 8px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-top: -4px;
        margin-left: -4px;
        opacity: .7;
      }
    }
  }
}






