mixin item(num)
    - num = num || 0;
    - var rowItem = {}
    - if(item.list[num])
        - rowItem = item.list[num]
    - else
        - rowItem = item.list[0]


    a(href='#').db.not-styleLink
        soan.db.item
            soan.db.item__img: +img(rowItem.img)
            soan.item__title: span= rowItem.title
            soan.db.item__desc= rowItem.desc
            soan.item__btn Смотреть товар