.item{
  display: block;
  text-align: center;
  background-color: white;
  border: 2px solid #cdcdcd;
  border-radius: 4px;
  padding: 19px;
  padding-bottom: 30px;
  padding-top: 23px;
  &__img{
    line-height: 130px;
    img{
      max-height: 130px;
    }
  }
  &__title{
    color: #8a6b76;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    display: table;
    width: 100%;
    height: 46px;
    >span{
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__desc{
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 22px;
  }
  &__btn{
    color: #d6437a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 50px;
    background-color: white;
    border: 2px solid #d6437a;
    border-radius: 4px;
    width: 171px;
    max-width: 100%;
    display: inline-block;
    &:hover{
      background-color: #a83957 !important;
      border-color: #a83957 !important;
    }
  }
  &:hover{
    border-color: #d6437a;
    border-radius: 4px;
    //box-shadow: 0 10px 15px rgba(103, 23, 121, 0.15);
    .item__btn{
      background-color: #d6437a;
      color: #fff;
    }
  }
}

.item-list{
  font-size: 0;
  margin: -13px;
  &__section{
    display: inline-block;
    font-size: 14px;
    padding: 13px;
    width: 25%;
  }
}