html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}

@include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {
  .header__logo {
    width: 185px;
    margin-top: 27px;
  }
}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .footer {
    &__table {
      display: block;
      &-cell {
        display: block;
        +*{
          padding-left: 0;
          padding-top: 15px;
        }
      }
    }
    &__copyrightBlock{
      text-align: center;
      &-content{
      }
    }
  }
  .footer__tableLogo{
    display: block;
    text-align: center;
    &-cell{
      display: block;
      +*{
        padding-left: 0;
        padding-top: 10px;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {

}

@include my-media-query(min, map_get($grid-breakpoints, md)) {

}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .footer {
    > .container {
      position: relative;
      &:after {
        content: url('%=static=%assets/footer/after.png');
        position: absolute;
        left: 100%;
        top: 0;
        margin-left: -38px;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {

}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .callback {
    &__title {
      text-align: center;
      font-size: 28px;
      margin-bottom: 8px;
    }
    &__titleSub {
      text-align: center;
      font-size: 14px;
    }
  }
  h1, .h1{
    font-size: 43px;
  }
  h2, .h2{
    font-size: 28px;
  }

  .content{
    margin-top: 60px;
    padding-bottom: 0;
    &__wrapper{
      padding: 25px 15px;
      margin: 0 -15px;
      display: block;
      width: auto;
      box-shadow: 0 0 0;
    }
  }
  .suggestions{
    &__list{
      li{
        width: 50%;
      }
    }
    &__item{
      &-icon{
        margin-bottom: 0;
        svg{
          width: 100px;
          max-height: 72px;
        }
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  h1, .h1{
    font-size: 38px;
  }
  h2, .h2{
    font-size: 25px;
  }

  .footer__copyrightBlock{
    background: rgba(238, 238, 238, 0.26);
    margin: 0 -15px;
    margin-bottom: -29px;
    padding: 24px 0;
  }
  .header {
    &-mobile {
      &__phone {
        font-size: 18px;
      }
    }
  }
}
