html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}

@include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {
  .content__wrapper-siteBar-content {
    padding-right: 30px;
  }
  .header__logo {
    width: 185px;
    margin-top: 27px;
  }
}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .content{
    &__wrapper{
      &-siteBar{
        &-nav{
          width: 100%;
          padding: 0;
          &-content{
            padding: 0 50px;
          }
        }
        &-content{
          margin-top: 20px;
          width: 100%;
          padding: 0 50px;
        }
      }
    }
  }
  .item-list{
    &__section{
      width: 50%;
    }
  }
  .catalog-list {
    &__section {
      width: 50%;
    }
  }
  .catalog-list__item{
    height: auto;
    &-icon {
      line-height: 100px;
      img{
        max-height: 100px;
      }
    }
  }
  .catalog-list__item-title {
    font-size: 15px;
  }
  .footer {
    &__table {
      display: block;
      &-cell {
        display: block;
        +*{
          padding-left: 0;
          padding-top: 15px;
        }
      }
    }
    &__copyrightBlock{
      text-align: center;
      &-content{
      }
    }
  }
  .footer__tableLogo{
    display: block;
    text-align: center;
    &-cell{
      display: block;
      +*{
        padding-left: 0;
        padding-top: 10px;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {

}

@include my-media-query(min, map_get($grid-breakpoints, md)) {

}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .item-list__section_col-3{
    width: 33.33%;
  }
  .content{
    &__wrapper{
      &_after{
        &:after{
          content: url('%=static=%general/content__wrapper_after.png');
          display: block;
          position: absolute;
          bottom: 100%;
          right: 6%;
          margin-bottom: -19px;
        }
      }
    }
  }
  .footer {
    > .container {
      position: relative;
      &:after {
        content: url('%=static=%assets/footer/after.png');
        position: absolute;
        left: 100%;
        top: 0;
        margin-left: -38px;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {
  .content__wrapper_after:after{
    right: 13.7%;
  }
}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .content{
    &__wrapper{
      &-siteBar{
        &-nav{
          &-content{
            padding: 0 15px;
          }
        }
        &-content{
          padding: 0 15px;
        }
      }
    }
  }
  .item {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 6px;
    &__btn{
      display: none;
    }
    &__img {
      line-height: 90px;
      img{
        max-height: 90px;
      }
    }
    &__title {
      font-size: 14px;
    }
    &__desc {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .block-maps{
    height: 350px;
  }
  .contact{
    &__list{
      &-section{
        width: 50%;
      }
    }
  }

  .callback {
    &__title {
      text-align: center;
      font-size: 28px;
      margin-bottom: 8px;
    }
    &__titleSub {
      text-align: center;
      font-size: 14px;
    }
  }
  h1, .h1{
    font-size: 43px;
  }
  h2, .h2{
    font-size: 28px;
  }

  .content{
    margin-top: 60px;
    padding-bottom: 0;
    &__wrapper{
      padding: 25px 15px;
      margin: 0 -15px;
      display: block;
      width: auto;
      box-shadow: 0 0 0;
      &-well{
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
  .suggestions{
    &__list{
      li{
        width: 50%;
      }
    }
    &__item{
      &-icon{
        margin-bottom: 0;
        svg{
          width: 100px;
          max-height: 72px;
        }
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .item-list{
    &__section{
    }
  }

  .contact{
    &__list{
      &-section{
        width: 100%;
      }
    }
  }
  h1, .h1{
    font-size: 35px;
  }
  h2, .h2{
    font-size: 25px;
  }

  .footer__copyrightBlock{
    background: rgba(238, 238, 238, 0.26);
    margin: 0 -15px;
    margin-bottom: -29px;
    padding: 24px 0;
  }
  .header {
    &-mobile {
      &__phone {
        font-size: 18px;
      }
    }
  }
}
